<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNEM</title>
    <link rel="stylesheet" href="../css/tabler.min.css">
    <link rel="stylesheet" href="../css/mary.css">
    <script src="../controller/tabler.min.js"></script>
</head>
<body>


  <div class="page-body">
    <div class="container-xl">
      <div class="col-md-6 col-lg-12">
        <div class="card card-inactive">
          <div class="card-body card-titulo">
            <h1>CURSO DE ENSEÑANZA DE LA LENGUA EDUCACIÓN INICIAL</h1>
          </div>
        </div>
      </div>
        <div class="row row-cards">
            <div class="row row-cards">
                <div class="col-sm-6 col-lg-6">
                  <div class="card-sm">                        
                    <div class="card-body">
                        <!-- <h3 class="card-title">Card with bottom image</h3> -->
                        <p class="text-secondary">Este curso de ampliación, tiene como objetivo brindar a las/los docentes de educación inicial los fundamentos prácticos necesarios para mediar la enseñanza de la lectura y la escritura desde el enfoque didáctico cognitivo, comunicativo y sociocultural. Partimos de la premisa de que el aprendizaje de la lengua escrita no se da de manera aislada, sino que se construye a través de la interacción con el entorno social y cultural del niño.</p>
                        <p class="text-secondary">Desde esta perspectiva, el curso se centra en el desarrollo del lenguaje oral como base fundamental para el posterior aprendizaje de la lectura y la escritura. Reconocemos que los niños llegan a la escuela con un bagaje lingüístico y experiencial propio, el cual debe ser valorado y tomado en cuenta en el proceso de enseñanza-aprendizaje.</p>
                        <p class="text-secondary">A lo largo del curso, abordaremos estrategias didácticas que permitan a los docentes crear ambientes de aprendizaje significativos, donde los niños puedan explorar, experimentar y utilizar la lengua escrita en situaciones comunicativas reales y auténticas. Esto implica, por ejemplo, el uso de literatura infantil, la organización de espacios de lectura y escritura, y la implementación de proyectos que partan de los intereses y necesidades de las niñas y niños.</p>
                        <p class="text-secondary">Asimismo, haremos énfasis en la evaluación integral del proceso de aprendizaje, considerando no solo los aspectos cognitivos, sino también los sociales, emocionales y culturales que intervienen en el desarrollo de la lectura y la escritura. De esta manera, buscaremos brindar a los docentes conocimientos y estrategias que les permitan mediar de manera afectiva y efectiva el proceso de alfabetización a partir de las prácticas sociales en el nivel de educación inicial del Subsistema de Educación Básica Venezolano.</p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <div class="card-sm">
                    <a href="#" class="d-block"><img src="img/Tapa01.jpg" class="card-img-top"></a>
                    <div class="container-xl">
                      <div class="row row-cards">
                        <div class="card-body">
                          <div class="row g-2 align-items-center">
                            <div class="col-12 col-sm-12 col-md-16 col-xl py-3">
                              <a href="#" class="btn btn-primary btn-pill w-100">
                                Revisa el tutorial de postulación
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>             
                    </div>
                    </div>

                </div>
                </div>
              </div>
              <hr>
        </div>
    </div>

<div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <div class="col-md-6 col-lg-6">
              <div class="card-body">
                <div class="accordion" id="accordion-example">
                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading-1">
                      <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false">
                        Enseñanza de la lengua educación inicial
                      </button>
                    </h2>
                    <div id="collapse-1" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                      <div class="accordion-body pt-0">
                        <strong></strong> 
                        <p>- Brindar a los docentes de educación inicial fundamentos prácticos para la enseñanza de la lectura y la escritura desde un enfoque didáctico cognitivo, comunicativo y sociocultural. </p>                            
                        <p>- Fomentar el desarrollo de habilidades comunicativas en los niños, que les permitan participar activamente en su entorno.  </p>
                        <p>- Promover el placer y el interés por la lectura y la escritura desde edades tempranas. </p>
                        <p>- Respetar los ritmos y estilos de aprendizaje de cada niño, reconociendo la diversidad en el aula.</p>
                    </div>
                    </div>
                  </div>
                  
                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading-2">
                      <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
                        Propósitos 
                      </button>
                    </h2>
                    <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                      <div class="accordion-body pt-0">
                        <strong></strong>
                        <p>- Comprender los principios de la mediación de la oralidad, la lectura y la escritura desde las prácticas sociales en la educación inicial. </p>
                        <p>- Diseñar estrategias didácticas que promuevan el desarrollo de la lectura y la escritura de manera significativa y contextualizada. </p>
                        <p>- Crear ambientes de aprendizaje que favorezcan la interacción, la exploración y la experimentación con la lengua escrita. </p>
                        <p>- Evaluar de manera integral el proceso de aprendizaje de la lectura y la escritura en los niños de educación inicial. </p>
                    </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading-3">
                      <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
                        Temas a desarrollar
                      </button>
                    </h2>
                    <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                      <div class="accordion-body pt-0">
                        <strong></strong>
                        <p>El curso está constituido por cinco (5) sesiones de clases, distribuidas como indica la siguiente tabla: </p>
                        <div class="page-body">
                    <div class="container-xl">
                    <div class="row row-cards">
                        <div class="col-lg-12">
                        <div class="card">
                            <div class="table-responsive">
                            <table class="table table-vcenter card-table">
                                <thead>
                                <tr>
                                    <th>Sesión 1</th>
                                    <th>Sesión 2</th>
                                    <th>Sesión 3</th>
                                    <th>Sesión 4</th>
                                    <th>Sesión 5</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-secondary">
                                    La lengua escrita: Un asunto político didáctico.
                                    </td>
                                    <td class="text-secondary"><a href="#" class="text-reset">La Alfabetización en la Educación Inicial, una mirada a las prácticas sociales. </a></td>
                                    <td class="text-secondary">
                                    Teorías, métodos y modos de la Alfabetización Inicial.
                                    </td>
                                    <td class="text-secondary">
                                    Tema: Mediación de la/el docente en la alfabetización inicial: ambiente alfabetizador y el contacto con materiales. 
                                    </td>
                                    <td class="text-secondary">Mediación de la/el docente en la alfabetización inicial: promoción y animación de la lectura y la escritura. </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <p>Los recursos para el aprendizaje correspondientes a cada sesión, estarán disponible en el Canal de Telegram (Programa Nacional de Formación Docente) y Plataforma Tecno Educativa de Chamilo (UNEM), siendo difundidos los días jueves de cada semana para su estudio y autoevaluación los fines de semana. </p>

                    </div>
                    </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading-4">
                      <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false">
                        Clasificación
                      </button>
                    </h2>
                    <div id="collapse-4" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                      <div class="accordion-body pt-0">
                        <strong></strong> 
                        <p>Metodología de la evaluación y trabajo: Se considerará para la autoevaluación el esfuerzo sostenido del o de la participante durante las cinco (5) sesiones de clases consideradas para el desarrollo del curso, evidenciado en su participación activa en las plataformas empleadas, el desarrollo de las lecturas sugeridas, la elaboración de los productos solicitados y la asistencia y disertación en los encuentros o foros presenciales sincrónicos.
                            Distribución de horas académicas. </p>
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table">
                                    <thead>
                                    <tr>
                                        <th>Modalidad estudios de</th>
                                        <th>Horas Académicas presenciales asincrónicas</th>
                                        <th>Horas de estudios Independientes y en la institución educativa</th>
                                        <th>Total, Horas</th>
                                        <th>Total: Unidades de Créditos</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-secondary">
                                            Virtual
                                        </td>
                                        <td class="text-secondary"><a href="#" class="text-reset">20 horas </a></td>
                                        <td class="text-secondary">
                                            70 horas
                                        </td>
                                        <td class="text-secondary">
                                            90 horas 
                                        </td>
                                        <td class="text-secondary">3</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                      </div>
                    </div>
                  </div> 
                </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="card border-2">
                <div class="card-body caja">
                    <h3 class="card-title texto-color">Aula Virtual</h3>
                    <p class="parrafo">Enlaces <a class="parrafo2" href="https://aulapnfd.unem.edu.ve/">Chamilo (UNEM)</a></p>
                </div>
                <!-- Photo -->
                <!-- <div class="img-responsive img-responsive-21x9 card-img-bottom" style="background-image: url(./static/photos/finances-us-dollars-and-bitcoins-currency-money-2.jpg)"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
      <hr>
        <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
            Ponentes
            </h2>
        </div>
        </div>
    </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards">
            <div class="col-md-6 col-lg-6">
                <div class="card-body">
                  <div class="accordion" id="accordion-example">
                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header" id="heading-5">
                        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false">
                          Jennifer Salazar Díaz
                        </button>
                      </h2>
                      <div id="collapse-5" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                        <div class="accordion-body pt-0">
                          <p>- Doctora. en Ciencias Pedagógicas, directora general de Educación Especial MPPE, docente en el Educación Inicial, Primaria, Especial y Universitaria, su línea de investigación versa sobre la didáctica de la lectura y la escritura en las etapas iniciales y las necesidades educativas que generan estos procesos en los niños que presentan alguna particularidad en el desarrollo en la infancia.</p>
                          <strong>Dra. Claudia Molinari</strong> 
                          <p>- Doctora en Ciencias de la Educación, Profesora de Didáctica Preprimaria y Observación. Didáctica de la Lectura y la Escritura. Miembro de equipos de investigación y desarrollo de experiencias en didáctica de la lectura y la escritura en el nivel inicial y la educación básica argentina. </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header" id="heading-6">
                        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false">
                          Coordinador del curso de ampliación
                        </button>
                      </h2>
                      <div id="collapse-6" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                        <div class="accordion-body pt-0">
                          <strong>Dra. Jennifer Salazar Díaz </strong> 
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header" id="heading-7">
                        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false">
                          coordinador académico PNFD
                        </button>
                      </h2>
                      <div id="collapse-7" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                        <div class="accordion-body pt-0">
                          <strong>Dr. Angel E. Quiñones G.</strong>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    
    <footer class="footer footer-transparent d-print-none">
      <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
              <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
              <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
              <li class="list-inline-item">
                <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                  <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-pink icon-filled icon-inline"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                  Sponsor
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                Copyright © 2024
                <a href="." class="link-secondary">Tabler</a>.
                All rights reserved.
              </li>
              <li class="list-inline-item">
                <a href="./changelog.html" class="link-secondary" rel="noopener">
                  v1.0.0-beta21
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</div>
</body>
</html>