@charset "utf-8";

@font-face {
    font-family: 'Gill Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Regular'), url('../Fuentes/Gill_Sans/Gill Sans.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Condensed Regular'), url('../Fuentes/Gill_Sans/GillSans Condensed.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Italic'), url('../Fuentes/Gill_Sans/Gill Sans Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Light'), url('../Fuentes/Gill_Sans/Gill Sans Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Light Italic'), url('../Fuentes/Gill_Sans/Gill Sans Light Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Medium'), url('../Fuentes/Gill_Sans/Gill Sans Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Medium Italic'), url('../Fuentes/Gill_Sans/Gill Sans Medium Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Bold'), url('../Fuentes/Gill_Sans/Gill Sans Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Condensed Bold'), url('../Fuentes/Gill_Sans/GillSans Condensed Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Bold Italic'), url('../Fuentes/Gill_Sans/Gill Sans Bold Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Heavy'), url('../Fuentes/Gill_Sans/Gill Sans Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Heavy Italic'), url('../Fuentes/Gill_Sans/Gill Sans Heavy Italic.woff') format('woff');
    }
    
    /* cyrillic */
    @font-face {
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../Fuentes/Pacifico/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../Fuentes/Pacifico/FwZY7-Qmy14u9lezJ-6I6MmTpA.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../Fuentes/Pacifico/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../Fuentes/Pacifico/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    
    @font-face {
    font-family: 'Timeless';
    font-style: normal;
    font-weight: normal;
    src: local('Timeless'), url('../Fuentes/Timeless/Timeless.ttf') format('ttf');
    }
    
    
    
    @font-face {
    font-family: 'Timeless-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Timeless-Bold'), url('../Fuentes/Timeless/Timeless-Bold') format('ttf');
    }
    
    
    @font-face {
    font-family: 'Times';
    font-style: normal;
    font-weight: normal;
    src: local('Times'), url('../Fuentes/Times_new_roman/times.ttf') format('ttf');
    }
    
    
    
    @font-face {
    font-family: 'Timesbd';
    font-style: normal;
    font-weight: normal;
    src: local('Times'), url('../Fuentes/Times_new_roman/timesbd.ttf') format('ttf');
    }
    
    
    /* #### Generated By: http://www.cufonfonts.com #### */
    
    @font-face {
    font-family: 'Gill Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Regular'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Condensed Regular'), url('../Fuentes/gill-sans-cufonfonts-webfont/GillSans Condensed.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Italic'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Light'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Light Italic'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Light Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Medium'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Medium Italic'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Medium Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Bold'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Condensed Bold'), url('../Fuentes/gill-sans-cufonfonts-webfont/GillSans Condensed Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Bold Italic'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Bold Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Heavy'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gill Sans Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Heavy Italic'), url('../Fuentes/gill-sans-cufonfonts-webfont/Gill Sans Heavy Italic.woff') format('woff');
    }



@font-face {

    font-family: Ronnia Bold Italic;
    
    src: url('../Fuentes/Ronnia/RonniaBoldItalic.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Bold;
    
    src: url('../Fuentes/Ronnia/RonniaBold.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Extrabold Italic;
    
    src: url('../Fuentes/Ronnia/RonniaExtraboldItalic.otf') format('opentype');
    
    }
    
    
    @font-face {
    
    font-family: Ronnia Extrabold;
    
    src: url('../Fuentes/Ronnia/RonniaExtrabold.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Heavy Italic;
    
    src: url('../Fuentes/Ronnia/RonniaHeavyItalic.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Heavy;
    
    src: url('../Fuentes/Ronnia/RonniaHeavy.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Light Italic;
    
    src: url('../Fuentes/Ronnia/RonniaLightItalic.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Light;
    
    src: url('../Fuentes/Ronnia/RonniaLight.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Italic;
    
    src: url('../Fuentes/Ronnia/RonniaRegItalic.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Regular;
    
    src: url('../Fuentes/Ronnia/RonniaReg.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Semibold Italic;
    
    src: url('../Fuentes/Ronnia/RonniaSemiboldItalic.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Semibold;
    
    src: url('../Fuentes/Ronnia/RonniaSemibold.otf') format('opentype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Thin Italic;
    
    src: url('../Fuentes/Ronnia/RonniaThinItalic.otf') format('opentype');
    
    }
    
    
    @font-face {
    
    font-family: Ronnia Thin;
    
    src: url('../Fuentes/Ronnia/RonniaThin.otf') format('opentype');
    
    }
    
    /*Fuentes TTF*/
    
    
    @font-face {
    
    font-family: Ronnia Cond Bold Italic;
    
    src: url('../Fuentes/Ronnia/RonniaCond-BoldItalic.ttf') format('truetype');
    
    }
    
    
    @font-face {
    
    font-family: Ronnia Cond Bold;
    
    src: url('../Fuentes/Ronnia/RonniaCond-Bold.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond ExtraBold Italic;
    
    src: url('../Fuentes/Ronnia/RonniaCond-ExtraBoldItalic.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family:Ronnia ond ExtraBold;
    
    src: url('../Fuentes/Ronnia/RonniaCond-ExtraBold.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond Heavy Italic;
    
    src: url('../Fuentes/Ronnia/RonniaCond-HeavyItalic.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond Heavy;
    
    src: url('../Fuentes/Ronnia/RonniaCond-Heavy.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond Italic;
    
    src: url('../Fuentes/Ronnia/RonniaCond-Italic.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond LightItalic;
    
    src: url('../Fuentes/Ronnia/RonniaCond-LightItalic.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond Light;
    
    src: url('../Fuentes/Ronnia/RonniaCond-Light.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond Regular;
    
    src: url('../Fuentes/Ronnia/RonniaCond-Regular.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond SemiBoldItalic;
    
    src: url('../Fuentes/Ronnia/RonniaCond-SemiBoldItalic.ttf') format('truetype');
    
    }
    
    
    @font-face {
    
    font-family: Ronnia Cond SemiBold;
    
    src: url('../Fuentes/Ronnia/RonniaCond-SemiBold.ttf') format('truetype');
    
    }
    
    
    @font-face {
    
    font-family: Ronnia Cond ThinItalic;
    
    src: url('../Fuentes/Ronnia/RonniaCond-ThinItalic.ttf') format('truetype');
    
    }
    
    @font-face {
    
    font-family: Ronnia Cond Thin;
    
    src: url('../Fuentes/Ronnia/RonniaCond-Thin.ttf') format('truetype');
    
    }